body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-color: #e6fbea !important;
}


.container.justify-content-center{margin-top: 20px;}

.text-left{float: left;}
.text-right{float: right;}

.pt-x {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

.px-2 img {
    margin-right: 10px;
}

.py-x{
    padding-top: 0rem!important;
    padding-bottom: 1rem!important;
}

.mt-20{margin-top: 20px;}

.currency-select{
  /*margin-bottom: 10px;*/
  margin-right: 36px;
}

li.nav-item {
    font-weight: 500;
}

.navbar-nav {padding-right: 42px;}

.navbar-expand-lg .navbar-collapse.show .web3-connect {margin-top: 30px;}

.modal-content a.nav-link.active {
    border-bottom: 2px solid;
    margin-bottom: 20%;
}

.vault-card .vault-item {
  box-shadow: 1px 2px 20px #9e9e9e;
  margin-top: 30px!important
 }

.select__control{    border-radius: 20px!important;}

.swap-btn{padding: 15px!important;}

.web3-connect{
    background: #01948d!important;
    color: #fff!important;
    border-radius: 12px!important;
    box-shadow: 0px 0px 3px #074643;
    width: 200px;
}

.coming-soon{padding: 50px;}

.web3-connect .text-success{
  color: #fff!important;
  font-size: 12px;
  padding-top: 3px;
}


.web3-connect .text-warning{
  color: #fff!important;
  font-size: 12px;
  padding-top: 3px;
  border-radius: 30px;
}

.wallet-card .card-body, .dash-card .card-body, .swap-card .card-body, .vault-card .card-body{
  border: 1px solid lightgrey;
  margin: 20px 25px 0px 25px;
  border-radius: .4rem;
  background-color: #fff;
}

.wallet-card .card-header, .dash-card .card-header, .swap-card .card-header, .vault-card .card-header{
  border: none!important;
  margin-top: 0px!important;
}

.wallet-card, .dash-card, .vault-card, .swap-card {
  padding-bottom: 40px;
  /*background-color: transparent!important;*/
  background: linear-gradient(180deg, #01948d 200px, #e6fbea 0%)!important;
  /*border: none!important;*/
}

.wallet-card .small{margin-top: 2px!important;}

.dash-card .card-body p{
  margin-bottom: 0px!important;
    margin-top: 5px!important;
    color: #000;
}

.vault-type{
  padding: 8px;
  background-color: #01948d;
  color: #fff!important;
  border-radius: 50px;
}

.vault-item .vault-img{
  margin-top: -32px;
  margin-right: 15px;
}

.vault-modal .vault-img{
  margin-top: -10px;
  margin-right: 15px;
}

.vault-deposit{
      padding: 15px!important;
    width: 100%;
    margin-top: 20px;
    border-radius: 8px!important;
}

.currency-name img{
  margin-top: 0px!important;
  margin-right: 5px!important;
}

.currency-name{display: inline-block!important;}


.vault-deposit{
    margin-bottom: 40px;
    border-bottom: 1px solid #00000020;
    padding: 11px;
}

.card-header.portfolio-bal, .card-header.dashboard{
  background-color: #01948d;
  color: #fff;
}


.dash-card, .wallet-card, .swap-card .vault-card{
  min-height: 600px;
}

.currency-selector select{
  border-radius: 30px;
}

.dash-stats {
/*    margin-top: -2rem;
    background-color: #01948d;
    color: #fff;
    border-radius: 12px 12px 0 0;*/
}

