body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg {
  background-color: #e6fbea !important;
}

.text-left{float: left;}
.text-right{float: right;}

.pt-x {
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

.py-x{
    padding-top: 0rem!important;
    padding-bottom: 1rem!important;
}

.mt-20{margin-top: 20px;}


.web3-connect{
  /*border: 1px solid;*/
}

.vault-item{
  border: 1px solid lightgrey;
  margin: 20px 25px 0px 25px;
  border-radius: 3px;
}

.vault-card{
  padding-bottom: 40px;
}

.vault-img{
  margin-top: 5px;
}